.Footer
  background-color: #e1e6e3

.content
  display: flex
  justify-content: space-between
  gap: 20px

.socialMedia
  margin-top: 10px
  display: flex
  align-content: center
  gap: 20px
